.forgot-password-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #3790a3;
    margin: -8px;
}

.forgot-password-card {
    background: #2d7b8b;
    border-radius: 18px;
    padding: 40px 30px;
    width: 380px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.13);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.forgot-password-card h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.forgot-password-card input[type="email"] {
    width: 80%;
    padding: 12px 12px 12px 16px;
    border-radius: 8px;
    border: none;
    background: #14596b;
    color: #fff;
    font-size: 1rem;
    outline: none;
    margin: 10px auto 40px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.12);
}

.forgot-password-card input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.forgot-password-card button {
    width: 60%;
    padding: 12px 0;
    background: #133b4a;
    color: #fff;
    border: none;
    border-radius: 22px;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: 0 3px 10px #0e2531;
}

.forgot-password-card button:hover {
    background: #032939;
}

.forgot-password-card .back-to-login {
    margin-top: 16px;
    font-size: 0.95rem;
    color: #ffffff;
}

.forgot-password-card .back-to-login a {className="forgot-link"
    font-weight: 600;
    text-decoration: none;
    margin-left: 5px;
}

.forgot-password-card .back-to-login a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.back-to-login .login{
    color: #15d8a7;
    text-decoration: none;
    font-size: 1rem;
}