.comment {
  width: 100%;
  min-height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
}

.banner {
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #25D3E9, #03A6BC);
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #074D66;
}

.scroll-container {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 40px;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #cfd1d1;
  border-radius: 4px;
}

.scroll-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}

.scroll-content {
  display: flex;
  gap: 16px;
  animation: scroll-loop 40s linear infinite;
  white-space: nowrap; /* Ensure items are in a single line */
}

.comment-first-box {
  flex: 0 0 auto;
  width: 300px; /* Fixed width for consistent box size */
  height: 150px; /* Fixed height for consistent box size */
  background-color: #f3f4f6;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block; /* Ensure items are inline */
}

.id {
  display: flex;
  align-items: center;
  padding: 10px;
}

.id img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.id h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #820670;
  text-decoration: underline;
}

.comment-text {
  margin: 10px;
  background-color: rgb(241, 248, 248);
  padding: 10px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #074D66;
  border-radius: 5px;
  height: 90px;
  overflow: auto;
  text-align: center;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

